azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "AS_Domain_Watchlist",
            "type": "String"
        },
        "WorkspaceName": {
            "defaultValue": "Enter your workspacename here",
            "type": "String"
        },
        "WatchlistName": {
            "defaultValue": "AS_Domain_Watchlist",
            "type": "String"
        },
        "watchlistdescription": {
            "type": "string",
            "metadata": {
                "description": "Describe what the Watchlist is for"
            }
        }
    },
    "variables": {
        "azuresentinelwatchlist": "[concat('azuresentinelwatchlist-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "name": "[parameters('WatchlistName')]",
            "type": "Microsoft.OperationalInsights/workspaces/providers/Watchlists",
            "kind": "",
            "properties": {
                "displayName": "[parameters('WatchlistName')]",
                "source": "[concat(parameters('WatchlistName'),'.csv')]",
                "description": "[parameters('watchlistdescription')]",
                "provider": "Custom",
                "isDeleted": false,
                "labels": [
                ],
                "defaultDuration": "P1000Y",
                "contentType": "Text/Csv",
                "numberOfLinesToSkip": 0,
                "itemsSearchKey": "Domains",
                "rawContent": "Domains\r\ntest@example.com\r\n"
            },
            "apiVersion": "2021-03-01-preview"
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('azuresentinelwatchlist')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('PlaybookName')]",
                "customParameterValues": {
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('azuresentinelwatchlist'))]"
            ],
            "tags": {
                "LogicAppsCategory": "security"
            },
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinelwatchlist']['connectionId']"
                                    }
                                },
                                "path": "/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "Entities_-_Get_URLs": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@triggerBody()?['Entities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinelwatchlist']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/url"
                            }
                        },
                        "For_each-_Alert_URLs": {
                            "foreach": "@body('Parse_JSON')",
                            "actions": {
                                "Condition-_URL_Parsing_Remove_Filepath": {
                                    "actions": {
                                        "Condition-_Formatting": {
                                            "actions": {
                                                "Set_variable-_Remove_Filepath": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "Extract3",
                                                        "value": "@{concat('',substring(variables('Extract2'), 0, int(indexOf(variables('Extract2'), '/'))))}"
                                                    }
                                                }
                                            },
                                            "runAfter": {},
                                            "else": {
                                                "actions": {
                                                    "Set_variable-_Remove_Filepath_Prepend": {
                                                        "runAfter": {},
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "Extract3",
                                                            "value": "@{concat('.',substring(variables('Extract2'), 0, int(indexOf(variables('Extract2'), '/'))))}"
                                                        }
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "startsWith": [
                                                            "@variables('Extract2')",
                                                            "."
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    },
                                    "runAfter": {
                                        "Condition-_URL_Parsing_Remove_Subdomain": [
                                            "Succeeded"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Condition-_Default_Formatting": {
                                                "actions": {
                                                    "Set_variable-_Default_Remove_File_Path": {
                                                        "runAfter": {},
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "Extract3",
                                                            "value": "@{concat('',variables('Extract2'))}"
                                                        }
                                                    }
                                                },
                                                "runAfter": {},
                                                "else": {
                                                    "actions": {
                                                        "Set_variable-_Default_Remove_File_Path_Prepend": {
                                                            "runAfter": {},
                                                            "type": "SetVariable",
                                                            "inputs": {
                                                                "name": "Extract3",
                                                                "value": "@{concat('.',variables('Extract2'))}"
                                                            }
                                                        }
                                                    }
                                                },
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "startsWith": [
                                                                "@variables('Extract2')",
                                                                "."
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "type": "If"
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "contains": [
                                                    "@variables('Extract2')",
                                                    "/"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Condition-_URL_Parsing_Remove_Protocol": {
                                    "actions": {
                                        "Set_variable-_Remove_https": {
                                            "runAfter": {},
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "Extract1",
                                                "value": "@{replace(items('For_each-_Alert_URLs')['Url'],'https://', '')}"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Set_variable-_Clear_Final": [
                                            "Succeeded"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Condition-_URL_Parsing_Remove_Http": {
                                                "actions": {
                                                    "Set_variable-_Remove_http": {
                                                        "runAfter": {},
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "Extract1",
                                                            "value": "@{replace(items('For_each-_Alert_URLs')['Url'],'http://', '')}"
                                                        }
                                                    }
                                                },
                                                "runAfter": {},
                                                "else": {
                                                    "actions": {
                                                        "Set_variable-_Default_Initial": {
                                                            "runAfter": {},
                                                            "type": "SetVariable",
                                                            "inputs": {
                                                                "name": "Extract1",
                                                                "value": "@{items('For_each-_Alert_URLs')['Url']}"
                                                            }
                                                        }
                                                    }
                                                },
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "startsWith": [
                                                                "@items('For_each-_Alert_URLs')['Url']",
                                                                "http://"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "type": "If"
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "startsWith": [
                                                    "@items('For_each-_Alert_URLs')['Url']",
                                                    "https://"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Condition-_URL_Parsing_Remove_Subdomain": {
                                    "actions": {
                                        "Set_variable-_Remove_Subdomain": {
                                            "runAfter": {},
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "Extract2",
                                                "value": "@{replace(variables('Extract1'), 'www.', '')}"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Condition-_URL_Parsing_Remove_Protocol": [
                                            "Succeeded"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Set_variable-_Default_middle": {
                                                "runAfter": {},
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "Extract2",
                                                    "value": "@variables('Extract1')"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "startsWith": [
                                                    "@variables('Extract1')",
                                                    "www."
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Set_variable-_Clear_Final": {
                                    "runAfter": {
                                        "Set_variable-_Clear_Middle": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "Extract3",
                                        "value": "''"
                                    }
                                },
                                "Set_variable-_Clear_Initial": {
                                    "runAfter": {},
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "Extract1",
                                        "value": "''"
                                    }
                                },
                                "Set_variable-_Clear_Middle": {
                                    "runAfter": {
                                        "Set_variable-_Clear_Initial": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "Extract2",
                                        "value": "''"
                                    }
                                },
                                "Watchlists_-_Add_a_new_watchlist_item": {
                                    "runAfter": {
                                        "Condition-_URL_Parsing_Remove_Filepath": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "Domains": "@{variables('Extract3')}"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinelwatchlist']['connectionId']"
                                            }
                                        },
                                        "method": "put",
                                        "path": "/Watchlists/subscriptions/@{encodeURIComponent(variables('SubscriptionID'))}/resourceGroups/@{encodeURIComponent(variables('ResourceGroup'))}/workspaces/@{encodeURIComponent(variables('WorkspaceName'))}/watchlists/@{encodeURIComponent(variables('WatchlistName'))}/watchlistItem"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable-_Extracted_Domain_Final": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            }
                        },
                        "Initialize_variable-_Domains_Array": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Domains",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable-_Extracted_Domain_Final": {
                            "runAfter": {
                                "Initialize_variable-_Extracted_Domain_Middle": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Extract3",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable-_Extracted_Domain_Initial": {
                            "runAfter": {
                                "Initialize_variable-_WatchListName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Extract1",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable-_Extracted_Domain_Middle": {
                            "runAfter": {
                                "Initialize_variable-_Extracted_Domain_Initial": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Extract2",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable-_ResourceGroup": {
                            "runAfter": {
                                "Initialize_variable-_SubscriptionID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ResourceGroup",
                                        "type": "string",
                                        "value": "@triggerBody()?['WorkspaceResourceGroup']"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable-_SubscriptionID": {
                            "runAfter": {
                                "Initialize_variable-_Domains_Array": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SubscriptionID",
                                        "type": "string",
                                        "value": "@triggerBody()?['WorkspaceSubscriptionId']"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable-_WatchListName": {
                            "runAfter": {
                                "Initialize_variable-_WorkspaceName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "WatchlistName",
                                        "type": "string",
                                        "value": "[parameters('WatchlistName')]"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable-_WorkspaceName": {
                            "runAfter": {
                                "Initialize_variable-_ResourceGroup": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "WorkspaceName",
                                        "type": "string",
                                        "value": "[parameters('WorkspaceName')]"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "Entities_-_Get_URLs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Entities_-_Get_URLs')?['URLs']",
                                "schema": {
                                    "properties": {
                                        "Urls": {
                                            "items": {
                                                "properties": {
                                                    "$id": {
                                                        "type": "string"
                                                    },
                                                    "Type": {
                                                        "type": "string"
                                                    },
                                                    "Url": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "$id",
                                                    "Type",
                                                    "Url"
                                                ],
                                                "type": "array"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinelwatchlist": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azuresentinelwatchlist'))]",
                                "connectionName": "[variables('azuresentinelwatchlist')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId,'/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}
